/* 
    Created on : 17/03/2015, 09:58:09
    Author     : GABRIEL DELBÃO DE OLIVEIRA
*/

body {
    
}

/*Formatação do Menu*/
nav { 
	margin: 50px 0;
	background-color: #E64A19;
}

nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #E64A19;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #000000; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

/*Conteúdo*/
div#conteudo {
    position: absolute;
    margin-top: 50px;
}