/* 
    Created on : 17/03/2015, 09:58:09
    Author     : GABRIEL DELBÃO DE OLIVEIRA
*/

body {
/*    margin: 0;
    padding: 0;*/
    background-color: #cccccc;
}

#container {
    background-color: #ffffff;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*Formatação do Header*/
.dadosUser {
    position: relative;
    float: right;
    margin-top: -75px;
    padding: 5px;
}
p.dadosUser{
    color:red;  
}
a.dadosUser{
    text-decoration: none;
    margin-right: 10px;
}


/*Formatação do Menu*/


/*Formatação do Conteúdo*/
#conteudo {
    margin-top: 50px;
}

/*Formatação do Footer*/
