/* 
    Created on : 17/03/2015, 09:58:09
    Author     : GABRIEL DELBÃO DE OLIVEIRA
*/

body {
/*    margin: 0;
    padding: 0;*/
    background-color: #cccccc;
}

#container {
    position: relative;
    background-color: #ffffff;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*Formatação do Header*/

/*Formatação do Menu*/
#menu ul{
    list-style: none;
    position: absolute;
    
}

#menu a{
    text-decoration: none;
}

#menu li{
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.8);
    width: 110px;
    text-align: center;
}

#menu ul ul li{
    position: relative;
    display: none;
}

#menu ul li:hover li{
    display: block;
}
/*Formatação dos Dados do Usuário*/
#dadosUser{
    /*position: relative;*/
}
#dadosUser p{
    /*float: right;*/
}

/*Formatação do Conteúdo*/
#conteudo {
    margin-top: 50px;
}

/*Formatação do Footer*/
